.sceditor-button-spoiler div {
	background: url('../images/bbc/spoiler.png');
}

.bbc_spoiler {
	display: block;
	box-sizing: border-box;
	overflow: hidden;
	background: var(--ter-bg-color);
	color: var(--txt-color);
	margin-bottom: 4px;
}

.bbc_spoiler summary {
	background: var(--skeuomorphism);
	border: 1px solid var(--sec-bg-color);
	display: list-item;
	font-weight: bold;
	outline: 0;
	cursor: pointer;
	padding: 5px;
	position: relative;
	line-height: 19px;
	margin: 0;
	text-align: center;
	white-space: nowrap;
}

.bbc_spoiler .spoiler_content {
	background: var(--ter-bg-color);
	border: 1px solid var(--sec-bg-color);
	line-height: 26px;
	padding: 10px;
}

/* Animation */
.bbc_spoiler[open] .spoiler_content {
	animation: spoiler 1s;
}
@keyframes spoiler {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* Responsive images */
.spoiler_content img {
	max-width: 100% !important;
}
