/* Administrator */
a.group-1, a.group-1:visited {
	color: #00ffff;
	text-shadow: 0 0 5px #b5b5b5;
	-webkit-text-stroke: 3px #0000c1;
	paint-order: stroke fill;
}

/* Global Moderator, Moderator */
a.group-2, a.group-2:visited, a.group-3, a.group-3:visited {
	color: black;
	text-shadow: 0 0 5px white, 0 0 2px white;
	-webkit-text-stroke: 1px white;
	paint-order: stroke fill;
}

/* Bed Inspector */
a.group-26, a.group-26:visited {
	color: black;
	-webkit-text-stroke: 3px white;
	font-family: serif;
	font-style: italic;
	paint-order: stroke fill;
	font-size: larger;
}

/* Human */
a.group-40, a.group-40:visited {
	color: #de1c0c;
}

/* Mean Girl*/
a.group-54, a.group-54:visited {
	color: #8c1fbd;
}

/* Lonely Prince */
a.group-53, a.group-53:visited {
	color: #1f9775;
}

/* Tactician */
a.group-56, a.group-56:visited {
	color: #5581fc;
}

/* Moss Finder */
a.group-48, a.group-48:visited {
	color: #55c621;
	text-shadow: 0 0 2px #3e89ff;
	-webkit-text-stroke: 3px #1e7969;
	paint-order: stroke fill;
}

/* Lightner */
a.group-44, a.group-44:visited {
	color: #FC3;
	text-shadow: 0 0 2px #FF5400;
	-webkit-text-stroke: 3px #cc5600;
	paint-order: stroke fill;
}


/* Darkner */
a.group-30, a.group-30:visited {
	color: #3DAEEE;
	text-shadow: 0 0 2px #0004FF;
	-webkit-text-stroke: 3px #002d52;
	paint-order: stroke fill;
}

/* Dark Prince */
a.group-29, a.group-29:visited {
	color: #2ce4b0;
	text-shadow: 0 0 3px #ff00e3;
	-webkit-text-stroke: 2px #008412;
	paint-order: stroke fill;
}

/* Dark Knight*/
a.group-28, a.group-28:visited {
	color: #ff00e3;
	text-shadow: 0 0 4px #00645b;
	-webkit-text-stroke: 2px #2c0188;
	paint-order: stroke fill;
}

/* Milk Looker */
a.group-47, a.group-47:visited {
	color: #FFE600;
	text-shadow: 0 0 2px black;
}

/* Monster */
a.group-55, a.group-55:visited {
	color: #8469E3;
	-webkit-text-stroke: 1px #000;
	paint-order: stroke fill;
}

/* Determination */
a.group-31, a.group-31:visited {
	color: #FF0;
	-webkit-text-stroke: 3px #000;
	paint-order: stroke fill;
	font-weight: bold;
}

/* Hopes & Dreams */
a.group-38, a.group-38:visited {
	background: linear-gradient(to right, #DC3F62, #FFA081, #FEFF6F, #56DE5C, #61FFE1, #0E92FE, #C036FF);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	font-weight: bold;
}

/* SpecialUltraRainbowMilkLooker */
a.group-57, a.group-57:visited {
	background: linear-gradient(to right, #DC3F62, #FFA081, #FEFF6F, #56DE5C, #61FFE1, #0E92FE, #C036FF);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	font-weight: bold;
}

/* The Youthful Days*/
a.group-32, a.group-32:visited {
	color: #97CA88;
}

/* BLAZER */
a.group-27, a.group-27:visited {
	color: #8dedfe;
}

/* ICE BLAZER */
a.group-41, a.group-41:visited {
	color: #6c50d5;
}

/* YOUR TAKING TOO LONG */
a.group-52, a.group-52:visited {
	color: #000;
	-webkit-text-stroke: 3px #ed1c24;
	paint-order: stroke fill;
}

/* BIG SHOT */
a.group-58, a.group-58:visited {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	font-weight: normal;
	font-family: "UT Comic Sans";
	background-image: linear-gradient(180deg, rgba(255, 105, 178, 1) 0%, rgba(255, 196, 196, 1) 10%, rgba(255, 247, 184, 1) 30%, rgba(255, 242, 0, 1) 43%, rgba(255, 196, 196, 1) 63%, rgba(255, 105, 178, 1) 100%);
}

/* Lucky */
a.group-45, a.group-45:visited {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	font-weight: bold;
	background-image: linear-gradient(180deg, rgba(255, 8, 8, 1) 0%, rgba(255, 196, 196, 1) 10%, rgba(255, 255, 255, 1) 37%, rgba(255, 8, 8, 1) 90%, rgba(87, 23, 23, 1) 100%);
}

/* Snowcaster */
a.group-51, a.group-51:visited {
	color: #96f1ff;
}

/* Frostmancer */
a.group-36, a.group-36:visited {
	color: #000;
	-webkit-text-stroke: 3px #517184;
	paint-order: stroke fill;
}

/* Ice Trancer */
a.group-42, a.group-42:visited {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	background-image: linear-gradient(0deg, rgb(44, 34, 50) 0%, rgb(132, 123, 171) 27%, rgb(198, 239, 255) 52%, rgb(102, 183, 254) 78%, rgb(53, 73, 132) 100%);
	text-shadow: 1px 1px 3px #b0e1ff3d;
}

/* SOUTH OF THE BORDER */
a.group-59, a.group-59:visited {
	color: #ff4c76;
	font-family: "Press Start";
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 400
}

/* Forecaster */
a.group-34, a.group-34:visited, a.group-35, a.group-35:visited {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	background-image: linear-gradient(90deg, rgba(242, 200, 90, 1) 13%, rgba(204, 254, 255, 1) 55%, rgba(148, 188, 241, 1) 87%);
}

/* Mew Mew Fan */
a.group-46, a.group-46:visited {
	color: #fba3b0;
	font-family: "UT Comic Sans";
}

/* Joker */
a.group-43, a.group-43:visited {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	font-weight: normal;
	font-family: "UT Comic Sans";
	background-size: 30 30;
	background-image: linear-gradient(90deg, #c3f94b 25%, #7f7fff 30%, #7f7fff 50%, #c3f94b 55%, #c3f94b 75%, #7f7fff 80%, #7f7fff 100%);
}

/* Horse */
a.group-39, a.group-39:visited {
	color: #99d14d;
	font-weight: bold;
}

/* Ex-Horse */
a.group-33, a.group-33:visited {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	font-weight: bold;
	background-image: linear-gradient(180deg, rgb(227, 227, 227) 0%, rgb(250, 255, 211) 30%, rgb(171, 171, 171) 50%, rgb(81, 106, 49) 90%, rgb(37, 61, 30) 100%);
}

/* Roommate */
a.group-50, a.group-50:visited {
	background: linear-gradient(90deg, #fee501, #65bc52, #fee501, #df7332, #fee501);
	-webkit-background-clip: text;
	background-clip: text;
	background-size: 200% 100%;
	color: #0000;
	animation: gradient 4000ms linear infinite;
}

/* BLAZER, ICE BLAZER, SOUTH OF THE BORDER, The Youthful Days */
a.group-27, a.group-32, a.group-41, a.group-59 {
	font-family: "Press Start";
	font-size: 11px;
	font-weight: normal;
	text-transform: uppercase;
}

/* Hopes & Dreams, BIG SHOT, Lucky!, Ice Trancer */
a.group-38:hover, a.group-28:hover, a.group-29:hover, a.group-33:hover {
	background-image: linear-gradient(to right, white, white);
}
