:root {
	--lucky-color: linear-gradient(180deg, rgba(255, 8, 8, 1) 0%, rgba(255, 196, 196, 1) 10%, rgba(255, 255, 255, 1) 37%, rgba(255, 8, 8, 1) 90%, rgba(87, 23, 23, 1) 100%);
	--big-shot-color: linear-gradient(180deg, rgba(255, 105, 178, 1) 0%, rgba(255, 196, 196, 1) 10%, rgba(255, 247, 184, 1) 30%, rgba(255, 242, 0, 1) 43%, rgba(255, 196, 196, 1) 63%, rgba(255, 105, 178, 1) 100%);
	--hopes-dreams-color: linear-gradient(to right, #DC3F62, #FFA081, #FEFF6F, #56DE5C, #61FFE1, #0E92FE, #C036FF);
	--ice-trancer-color: linear-gradient(0deg, rgb(44, 34, 50) 0%, rgb(132, 123, 171) 27%, rgb(198, 239, 255) 52%, rgb(102, 183, 254) 78%, rgb(53, 73, 132) 100%);
	--joker-color: linear-gradient(90deg, #c3f94b 25%, #7f7fff 30%, #7f7fff 50%, #c3f94b 55%, #c3f94b 75%, #7f7fff 80%, #7f7fff 100%);
	--blazer-color: #8dedfe;
	--forecaster-color: linear-gradient(90deg, rgba(242, 200, 90, 1) 13%, rgba(204, 254, 255, 1) 55%, rgba(148, 188, 241, 1) 87%);;
	--snowcaster-color: #96f1ff;
}

body.color-scheme-light, body.color-scheme-os {
	--lucky-color: linear-gradient(180deg, rgba(255, 8, 8, 1) 0%, rgba(255, 196, 196, 1) 10%, rgb(0 0 0) 37%, rgba(255, 8, 8, 1) 90%, rgba(87, 23, 23, 1) 100%);
	--big-shot-color: linear-gradient(180deg, rgb(255, 49, 78) 0%, rgb(255, 46, 203) 10%, rgb(251, 177, 61) 30%, rgb(227, 163, 39) 43%, rgb(255, 78, 161) 63%, rgb(205, 41, 121) 100%);
	--hopes-dreams-color: linear-gradient(to right, rgb(246, 0, 55), rgb(255, 103, 54), rgb(255, 173, 46), rgb(61, 191, 49), rgb(65, 196, 171), rgb(2, 141, 255), rgb(166, 0, 242));
	--ice-trancer-color: linear-gradient(0deg, rgb(44, 34, 50) 0%, rgb(103 90 160) 27%, rgb(130 193 218) 52%, rgb(21 101 171) 78%, rgb(53, 73, 132) 100%);
	--joker-color: linear-gradient(90deg, #88c500 25%, #7f7fff 30%, #7f7fff 50%, #88c500 55%, #88c500 75%, #7f7fff 80%, #7f7fff 100%);
	--blazer-color: #57c4cb;
	--forecaster-color: linear-gradient(90deg, rgb(218, 166, 31) 25%, rgb(31, 184, 187) 55%, rgb(116, 171, 245) 100%);
	--snowcaster-color: #0293FD;
}

span[class*="group-"], a[class*="group-"], a[class*="group-"]:visited {
	font-weight: bold;
}

/* Administrator */
span.group-1, a.group-1, a.group-1:visited {
	color: #00ffff;
	text-shadow: 0 0 5px #b5b5b5;
	-webkit-text-stroke: 3px #0000c1;
	paint-order: stroke fill;
}

/* Global Moderator, Moderator */
span.group-2, a.group-2, a.group-2:visited, span.group-3, a.group-3, a.group-3:visited {
	color: black;
	text-shadow: 0 0 5px white, 0 0 2px white;
	-webkit-text-stroke: 1px white;
	paint-order: stroke fill;
}

/* Bed Inspector */
a.group-26, a.group-26:visited {
	color: black;
	-webkit-text-stroke: 3px white;
	font-family: serif;
	font-style: italic;
	paint-order: stroke fill;
	font-size: larger;
}

/* Human */
span.group-40, a.group-40, a.group-40:visited {
	color: #de1c0c;
}

/* Mean Girl*/
span.group-54, a.group-54, a.group-54:visited {
	color: #AD30DF;
	text-shadow: 0 0 2px black;
}

/* Lonely Prince */
span.group-53, a.group-53, a.group-53:visited {
	color: #1f9775;
}

/* Tactician */
span.group-56, a.group-56, a.group-56:visited {
	color: #5581fc;
}

/* Moss Finder */
span.group-48, a.group-48, a.group-48:visited {
	color: #55c621;
	text-shadow: 0 0 2px #3e89ff;
	-webkit-text-stroke: 3px #1e7969;
	paint-order: stroke fill;
}

/* Lightner */
span.group-44, a.group-44, a.group-44:visited {
	color: #FC3;
	text-shadow: 0 0 2px #FF5400;
	-webkit-text-stroke: 3px #cc5600;
	paint-order: stroke fill;
}


/* Darkner */
span.group-30, a.group-30, a.group-30:visited {
	color: #3DAEEE;
	text-shadow: 0 0 2px #0004FF;
	-webkit-text-stroke: 3px #002d52;
	paint-order: stroke fill;
}

/* Dark Prince */
span.group-29, a.group-29, a.group-29:visited {
	color: #2ce4b0;
	text-shadow: 0 0 3px #ff00e3;
	-webkit-text-stroke: 2px #008412;
	paint-order: stroke fill;
}

/* Dark Knight*/
span.group-28, a.group-28, a.group-28:visited {
	color: #ff00e3;
	text-shadow: 0 0 4px #00645b;
	-webkit-text-stroke: 2px #2c0188;
	paint-order: stroke fill;
}

/* Milk Looker */
span.group-47, a.group-47, a.group-47:visited {
	color: #FFE600;
	text-shadow: 0 0 2px black;
}

/* Monster */
span.group-55, a.group-55, a.group-55:visited {
	color: #8469E3;
	-webkit-text-stroke: 1px #000;
	paint-order: stroke fill;
}

/* Determination */
span.group-31, a.group-31, a.group-31:visited {
	color: #FF0;
	-webkit-text-stroke: 3px #000;
	paint-order: stroke fill;
	font-weight: bold;
}

/* Hopes & Dreams */
span.group-38, a.group-38, a.group-38:visited {
	background: var(--hopes-dreams-color);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	font-weight: bold;
}

/* SpecialUltraRainbowMilkLooker */
span.group-57, a.group-57, a.group-57:visited {
	background: linear-gradient(to right, #DC3F62, #FFA081, #FEFF6F, #56DE5C, #61FFE1, #0E92FE, #C036FF);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	font-weight: bold;
}

/* The Youthful Days*/
span.group-32, a.group-32, a.group-32:visited {
	color: #97CA88;
}

/* BLAZER */
span.group-27, a.group-27, a.group-27:visited {
	color: var(--blazer-color);
}

/* ICE BLAZER */
span.group-41, a.group-41, a.group-41:visited {
	color: #6c50d5;
}

/* YOUR TAKING TOO LONG */
span.group-52, a.group-52, a.group-52:visited {
	color: #000;
	-webkit-text-stroke: 3px #ed1c24;
	paint-order: stroke fill;
}

/* BIG SHOT */
span.group-58, a.group-58, a.group-58:visited {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	font-weight: normal;
	font-family: "UT Comic Sans";
	background-image: var(--big-shot-color);
}

/* Lucky */
span.group-45, a.group-45, a.group-45:visited {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	font-weight: bold;
	background-image: var(--lucky-color);
}

/* Snowcaster */
span.group-51, a.group-51, a.group-51:visited {
	color: var(--snowcaster-color);
}

/* Frostmancer */
span.group-36, a.group-36, a.group-36:visited {
	color: black;
	-webkit-text-stroke: 3px #517184;
	paint-order: stroke fill;
}

/* Ice Trancer */
span.group-42, a.group-42, a.group-42:visited {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	background-image: var(--ice-trancer-color);
	text-shadow: 1px 1px 3px #b0e1ff3d;
}

/* SOUTH OF THE BORDER */
span.group-59, a.group-59, a.group-59:visited {
	color: #ff4c76;
}

/* Forecaster */
span.group-34, a.group-34, a.group-34:visited, span.group-35, a.group-35, a.group-35:visited {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	background-image: var(--forecaster-color);
}

/* Mew Mew Fan */
span.group-46, a.group-46, a.group-46:visited {
	color: #fba3b0;
	font-family: "UT Comic Sans";
}

/* Joker */
span.group-43, a.group-43, a.group-43:visited {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	font-weight: normal;
	font-family: "UT Comic Sans";
	background-size: 30 30;
	background-image: var(--joker-color);
}

/* Horse */
span.group-39, a.group-39, a.group-39:visited {
	color: #99d14d;
	font-weight: bold;
}

/* Ex-Horse */
span.group-33, a.group-33, a.group-33:visited {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	font-weight: bold;
	background-image: linear-gradient(180deg, rgb(227, 227, 227) 0%, rgb(250, 255, 211) 30%, rgb(171, 171, 171) 50%, rgb(81, 106, 49) 90%, rgb(37, 61, 30) 100%);
}

/* Roommate */
span.group-50, a.group-50, a.group-50:visited {
	background: linear-gradient(90deg, #fee501, #65bc52, #fee501, #df7332, #fee501);
	-webkit-background-clip: text;
	background-clip: text;
	background-size: 200% 100%;
	color: #0000;
	animation: gradient 4000ms linear infinite;
}

/* BLAZER, ICE BLAZER, SOUTH OF THE BORDER, The Youthful Days */
span.group-27, span.group-32, span.group-41, span.group-59,
a.group-27, a.group-32, a.group-41, a.group-59 {
	font-family: "Press Start";
	font-size: 11px;
	font-weight: normal;
	text-transform: uppercase;
}

/* Hopes & Dreams, BIG SHOT, Lucky!, Ice Trancer */
span.group-38:hover, span.group-28:hover, span.group-29:hover, span.group-33:hover, span.group-58:hover,
a.group-38:hover, a.group-28:hover, a.group-29:hover, a.group-33:hover, a.group-58:hover {
	background-image: linear-gradient(to right, white, white);
}

tr.windowbg:hover span.group-38,
tr.windowbg:hover span.group-28,
tr.windowbg:hover span.group-29,
tr.windowbg:hover span.group-33,
tr.windowbg:hover span.group-58,
tr.windowbg:hover a.group-38,
tr.windowbg:hover a.group-28,
tr.windowbg:hover a.group-29,
tr.windowbg:hover a.group-33,
tr.windowbg:hover a.group-58 {
	background-clip: text;
	background-image: linear-gradient(to right, white, white);
}
